* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(assets/background.jpg);
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
.header {
    overflow: hidden;
    background-color: #0D5D77;
    padding: 20px 20px;
}
.header-right {
    float:right
}
.header-a {
    float:left;
    color: white;
    text-align: center;
    padding: 12px;
    padding-top: 14px;
    padding-right: 50px;
    font-size: 25px;
    text-decoration: none;
    background-color: #0D5D77;
    border-radius: 4px;
}
.cadre_informations {
    padding:30px;
    border-radius: 16px;
    width: 450px;
    height: 600px;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 100px;
    text-align:justify;
    font-size: 18px;
    font-family: cursive;
    text-align: center;
}
.cadre_informations img{
    
    margin:10px;
}
#formulaire_inscription_et_connexion {
    padding:30px;
    border-radius: 16px;
    width: 450px;
    height: 600px;
    background-color: antiquewhite;
    margin: auto;
    margin-top: 100px;
    text-align:justify;
    font-size: 18px;
    font-family: cursive;
    text-align: center;
}
#formulaire_inscription_et_connexion div {
    margin: 10px;
    
}
#formulaire_inscription_et_connexion input[type=text]{
background-color: white;
height: 25px;
padding-left: 6px;
border:0;
font-size: 18px;
padding:10px;
border-radius: 10px;
box-shadow:0 0 15px 4px rgba(0,0,0,0.04);
outline: none;
caret-color: white;
font-family: cursive;
}
.bouton_confirmer{
    margin:10px;
    width: 180px;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: #0D5D77;
    border: none;
    border-radius: 8px;
}

